#header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  
}

#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}

#navbar ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

#navbar ul li {
  margin-right: 20px;
}

#navbar ul li:last-child {
  margin-right: 0;
}

#navbar ul li a {
  color: #f39c12;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

#navbar ul li a:hover {
  color: #555;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

/* Hero Section */
#hero {
  background-color: #f8f9fa;
  padding: 100px 0;
}

#hero .container {
  position: relative;
}

#hero .container .row {
  align-items: center;
}

#hero .container .col-lg-6 {
  margin-bottom: 30px;
}

#hero h4 {
  color: #f39c12;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 15px;
}

#hero p {
  color: #f39c12;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  margin-bottom: 30px;
}

/* Clients Section */
#clients {
  padding: 60px 0;
}

#clients .clients img {
  max-width: 100%;
}

/* Footer */
#footer {
  background-color: #f8f9fa;
  padding: 60px 0;
}

#footer h4 {
  color: #343a40;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

#footer p {
  color: #6c757d;
  font-size: 14px;
  line-height: 24px;
}

#footer .footer-newsletter form {
  display: flex;
  align-items: center;
}

#footer .footer-newsletter input[type="email"] {
  width: 80%;
  padding: 10px 15px;
  border: 1px solid #ced4da;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#footer .footer-newsletter input[type="submit"] {
  background-color: #f39c12;
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;
}

#footer .footer-links ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#footer .footer-links ul li {
  margin-bottom: 10px;
}

#footer .footer-links ul li a {
  color: #6c757d;
  transition: color 0.3s ease;
}

#footer .footer-links ul li a:hover {
  color: #f39c12;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #fff;
  /* color: #f39c12; */
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #f39c12;
  color: #fff;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  color: #6c757d;
  font-size: 13px;
}

@media (max-width: 768px) {
  #navbar ul li {
    margin-right: 10px;
  }

  #footer .footer-newsletter input[type="email"] {
    width: 70%;
  }

  #footer .footer-newsletter input[type="submit"] {
    width: 30%;
  }
}
